<?xml version="1.0" encoding="UTF-8" ?>
<!--
    status="warn" 日志框架本身的输出日志级别，可以修改为debug
    monitorInterval="5" 自动加载配置文件的间隔时间，不低于 5秒；生产环境中修改配置文件，是热更新，无需重启应用
 -->
<configuration monitorInterval="5" status="warn">
    <!-- 集中配置属性进行管理 -->
    <!-- 使用时通过:${name} -->
    <!--
    <properties>
        <property name="LOG_HOME">./logs</property>
    </properties>
    -->

    <!-- 日志处理 -->
    <Appenders>
        <!-- 使用随机读写流的日志文件输出 appender，性能提高 -->
        <RandomAccessFile name="codeBookMblAccessFile" fileName="logs/DiskMirrorBackEnd.log">
            <PatternLayout pattern="[%p][%c][%d{yy-MM-dd:HH:mm:ss}]] : %msg%n" />
        </RandomAccessFile>
    </Appenders>

    <!-- Logger 定义 -->
    <Loggers>
        <!-- name 标记的是 应用的包 获取日志器的时候 只要是这个名字的日志对象 都会受到这个配置的管束 -->
        <Logger name="top.lingyuzhao.diskMirror.backEnd" additivity="false" level="info">
            <AppenderRef ref="codeBookMblAccessFile" />
        </Logger>

        <!-- Root Logger 不再引用其他 Appender -->
        <Root level="off">
            <!-- 移除了所有 Appender 引用 -->
        </Root>
    </Loggers>
</configuration>
